<!DOCTYPE html>
<html lang="en">
<head>
  <!-- General Settings -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="{global.baseUrl}">
  <!-- Meta Tags -->
  <title>{head.title} | {global.appName}</title>
  <meta name="description" content="{head.description}">
  <!-- Static Assets -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <script type="text/javascript" charset="UTF-8" src="public/app.js"></script>
  <link rel="stylesheet" type="text/css" href="public/app.css">
  
</head>
<body class="{body.class}">
  <!-- Page Wrapper -->
  <div class="wrapper">
    <div class="header">
      <!-- Logo -->
      <a href="/" class="logo">
        <img src="public/logo.png" alt="DevPath logo">
      </a>
      <!-- Navigation -->
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li class="loggedOut"><a href="/account/create">Sign Up</a></li>
        <li class="loggedOut"><a href="/session/create">Login</a></li>
        <li class="loggedIn"><a href="/checks/all">Dashboard</a></li>
        <li class="loggedIn"><a href="/account/edit">Account Settings</a></li>
        <li class="loggedIn"><a id="logoutButton"  href="">Log Out</a></li>
      </ul>
    </div>
    <div class="content">

    